* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}


:root {
    --text-color: #11161E;
    --dark-bg-color: #151A32;
    --light-bg-color: #FFFFFF;
    --pimary-color-1: #FF6F61;
    --paragrap-coloe: #444444;
    --button-color: #FF5645;
    --background-color: #F1F1F1;
    --black-color: #000000;
    --primary-font: 'josefin sans', sans serif;
    --secondary-fonts: 'Roboto' sans serif,
}



ul {
    list-style-type: none;
}


.bannar-slidar-item {
    height: 800px;
    background-size: cover !important;
    background-position: center !important;
}

.bannar-slidar {
    padding: 0 80px;
}


.nav-action-icon ul li a {
    padding: 0 10px;
}


#bannar .bannar-slidar .bannar-slidar-dots {
    display: flex;
    position: absolute;
    left: 85px;
    bottom: 220px;
}

#bannar .bannar-slidar .bannar-slidar-dots li {
    margin-right: 5px;
    line-height: 0;
}

#bannar .bannar-slidar .bannar-slidar-dots li.slick-active button {
    width: 50px;
    height: 15px;
    background-color: #FF6F61;
}

#bannar .bannar-slidar .bannar-slidar-dots button {
    font-size: 0;
    height: 9px;
    width: 17px;
    background-color: white;
    border-radius: 10px;
    border: none;
}




.bannar-slidar-item h2 {
    font-size: 18px;
    font-family: var(--primary-font);
    color: var(--light-bg-color);
    line-height: 28px;
}


.bannar-slidar-item h1 {
    font-size: 64px;
    line-height: 74px;
    font-family: var(--secondary-fonts);
    width: 446px;


}

.bannar-slidar-item p {
    font-size: 16px;
    width: 417px;
    line-height: 28px;
}


.bannar-slidar-item button {
    border: none;
    width: 160px;
    height: 56px;
    background-color: var(--button-color);
    color: var(--light-bg-color);
    font-family: var(--primary-font);

}

.bannar-slidar-item button i {
    font-size: 15px;
    margin-left: 8px;

}



/* Newsletter start*/
#Newsletter {
    background-color: #000000;
    opacity: 0.8;
    position: fixed;
    z-index: 9999;
    inset: 0;
    justify-content: center;
    color: #ddd;
    transform: scale(0);
}
/* 
.actibe{
    transform: scale(1);
} */



.newsletter-info button {
    border: none;
    width: 140px;
    height: 50px;
    background-color: var(nzzzz);
    background-color: #000000;
    font-family: var(--primary-font);
    color: var(--light-bg-color);
    font-size: 18px;
    line-height: 30px;

}


.newsletter-info {
    width: 900px;
    height: 500px;
    background-color: var(--button-color);
    text-align: center;
}

.newsletter-info h2 {
    font-size: 36px;
    line-height: 46px;
    font-family: var(--primary-font);
    padding: 10px;
    border-bottom: 5px solid white;
    width: 250px;
    margin: auto;

}

.newsletter-info p {
    padding-top: 50px;
    font-size: 16px;
    line-height: 28px;
    font-family: var(--secondary-fonts);
    width: 650px;
    margin: auto;
    font-weight: 600;
    padding-bottom: 20px;
}

.newsletter-info .Email-item button {
    background-color: #151A32;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    font-family: var(--primary-font);
    font-weight: 600;
    margin-bottom: 5px;
}

.newsletter-info .Email-item input {
    width: 500px;
    height: 50px;

}

.newsletter-info .checboxs {
    padding-top: 30px;
    font-size: 18px;
    text-transform: capitalize;
}

.newsletter-info .checboxs input {
    width: 16px;
    min-height: 16px;
    border-radius: 8px;
}


/* Newsletter end */





/* puter srction css */
#puter {
    background-color: #11161E;
    color: #FFFFFF;
    ;
}

.puter-start {
    padding-top: 40px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid red;
    margin: auto;
}

.puter-item-end {
    padding: 15px 10px;
    text-transform: capitalize;
}

.puter-item-info .my-account .col-2 {
    justify-content: end;
    color: blueZ;
}

.Support {}

.contact i {
    margin-left: -20px;
}

.contact span {}

.puter-item-info button {
    background-color: var(--button-color);
    line-height: 30px;
    font-size: 18px;
    font-family: var(--secondary-fonts);
    font-weight: 600;
    border: none;
    padding: 10px 20px;
    height: 50px;
    width: 109px;
}

.puter-item-info input {
    border: none;
    background-color: var(--light-bg-color);
    width: 198px;
    height: 50px;
}

.Support h2 {
    text-align: center;
}

.puter-section-2 {
    background-color: #444444;
    height: 50px;
    padding-top: 10px;
}

.puter-section-2 h4 {
    text-align: center;
    color: #FFFFFF;

}

/* puter srction css */







/*deals-bolock start  */

.deals-clock {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 800;

    box-shadow: 0 0 12px rgb(39, 37, 37);
    padding: 10px;
    border-radius: 30px;
    margin-top: 20px;
}

#deals h2 {
    font-family: var(--primary-font);
    padding-top: 10px;
}

/*deals-bolock end  */


/*latest section start  */

.best-seller {
    text-align: center;
    font-size: 46px;
    font-family: var(--primary-font);
    font-weight: 700;
    line-height: 46px;
    padding-top: 200px;
    padding-bottom: 30px;
}

.latest-item {
    position: relative;
    overflow: hidden;

}

.latest-item:hover .laest-action-btn {
    right: 17px;

}

.latest-prodact {
    position: relative;
    overflow: hidden;
}

.latest-prodact img:last-child {
    position: absolute;
    inset: 0;
    transition: 1s;
    transform: scalex(0);
}

.latest-prodact:hover :last-child {


    transform: scale(1.2);
}

.laest-action-btn {
    position: absolute;
    top: 44px;
    right: -40px;
    transition: 2s;
}

.laest-action-btn ul li a {
    width: 36px;
    height: 36px;
    background-color: #ddd;
    border-radius: 50%;
    margin-bottom: 10px;
    text-align: center;
    color: #000000;
    display: inline-block;
    line-height: 40px;
}

.laest-action-btn ul {}

.laest-action-btn ul li a:hover {
    background-color: var(--button-color);
    color: var(--background-color);
}

.laest-action-btn ul li {}

/*latest section end  */



/*getup section start  */
#get-up {
    background-color: #A6AAB7;
    height: 524px;
    padding: 100px 0;
}

.getup-item button {
    padding: 10px 25px;
    font-size: 16px;
    font-family: var(--primary-font);
    align-items: center;
    border: none;
}

.getup-item i {
    font-size: 10px;
}

.getup-item h2 {
    color: #FFFFFF;
    width: 375px;
    font-size: 36px;
    line-height: 46px;
    vertical-align: top;
}

.getup-item p {
    width: 420px;
    line-height: 28px;
    font-family: var(--secondary-fonts);
    font-size: 16px;
    text-align: left;
    padding: 15px 0;
}

/*getup section end  */

/*fairnass cream srart  */

#fairness-cream {
    height: 480px;

    margin: auto;
}

.fairness-item-1 {
    background-color: #A6AAB7;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 120px;
    padding-right: 200px;
    margin: auto;
}



.fairness-item-2 {
    background-color: #A6AAB7;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 120px;
    padding-right: 200px;
}

#fairness-cream h3 {
    font-size: 18px;
    line-height: 28px;
    color: #11161E;
}

#fairness-cream h2 {
    font-size: 36px;
    line-height: 46px;
    font-family: var(--secondary-fonts);
    font-weight: 700px
}

#fairness-cream p {
    font-size: 16px;
    line-height: 28px;
    font-family: var(--primary-font);
    font-family: 400px;
}


#fairness-cream button {
    padding: 10px 25px;
    font-size: 16px;
    font-family: var(--primary-font);
    align-items: center;
    border: none;
}

.fairness-item-2 del,
.fairness-item-1 del {
    padding: 0 10px;
}

#fairness-cream button i {
    font-size: 10px;
}

/*fairnass cream end  */